//npm run development -- --watch
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#welcome_carousel
{
	margin: 0 0 30px 0;
	background-image: url("/images/contact-header-bg.jpg");
	background-size: cover;

	a, a:hover
	{
		color: white;
	}

	.carousel-caption
	{
		text-shadow: 2px 2px 2px black;
	}

	@media only screen and (min-width: 740px)
	{
		//height: 50vh;
		overflow: hidden;
		.carousel-inner
		{
			height: 50vh !important;

			.carousel-item
			{
				height: 50vh !important;

				.carousel_img_container
				{
					//height: 50vh ;
					overflow: hidden;

					img
					{
						min-width: 100%;
						overflow-y: auto;
					}
				}

				
				a, a:hover
				{
					color: white;
				}
			}
		}
	}
	@media only screen and (min-width: 1440px)
	{
		img
		{
			transform: translateY(-50%);
		}
	}
	@media only screen and (max-width: 739px)
	{
		.carousel-caption
		{
			p
			{
				display: none;
			} 
		}
		.carousel-caption .d-none
		{
			display: block !important;
		}
	}
}

#welcome_info
{
	margin: 0 auto 30px auto;
	text-align: center;

	p
	{
		max-width: 60%;
		margin: auto;
	}
}

#welcome_recent
{

	h2
	{
		background-color: #E79435;
		padding: 0.5em;
		color: white;
		margin: 0;
		text-align: center;
	}

	p, h3
	{
		text-align: center;
	}

	@media only screen and (max-width: 739px)
	{
		margin-bottom: 50px;
	}
}

.greyified
{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}