// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables2.scss";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

// Custom CSS
.button-remove {
  border-radius: 5px;
  text-decoration: none;
  background-color: #c51f1a;
  color: #EEEEEE;
  padding: 1px 6px 1px 6px;
  border:none;
  box-shadow: none;
}

.button-show {
  border-radius: 5px;
  text-decoration: none;
  background-color: #308d2c;
  color: #EEEEEE;
  padding: 2px 6px 2px 6px;
  border:none;
  box-shadow: none;
}

.button {
  border-radius: 5px;
  text-decoration: none;
  background-color: #E79535;
  color: #EEEEEE;
  padding: 2px 6px 2px 6px;
  border:none;
  box-shadow: none;
}

.button-hover:hover{
  color: #EEEEEE !important;
  text-decoration: none !important;
}

h6.collapse-header {
  border-bottom: 3px solid #85879630;
}
.inputFields h4{
	font-size: 20px;
	margin-bottom: 0px;
}
.inputFields textarea{
	width: 100%;
}

#EditInput {
  flex: 1;
  min-width: 0px;
}

.submit-edit{
	margin-left: 20px;
}

.inputFields {
  margin: 1%;
}

.inputFields p{
  display: flex;
}

@media screen and (max-width: 1331px)
{
	.inputFields h4{
		font-size: 20px;
	}
	.card-header
	{

		height: 80px;
		overflow-y: hidden;
		overflow-x: scroll;

		.search
		{
			min-width: 700px;

			label
			{
				width: unset;
			}

			input
			{
				width: unset;
			}
		}
	}
	.card-body
	{
		overflow-y: hidden;
		overflow-x: scroll;
	}
}

.Hourglass_before
{
	color: #308D2C;
}
.Hourglass_busy
{
	color: #E79535;
}
.Hourglass_after
{
	color: #C51F1A;
}
.star
{
	color: #FFC01A;
}

.admin_user
{
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
	font-size: 18px !important;
}

.btn_prohibitedWord
{
	background-color: limegreen;
	margin-left: 2%;
	color: white;
}