// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables2.scss";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

// Custom CSS
.button-remove {
  border-radius: 5px;
  text-decoration: none;
  background-color: #c51f1a;
  color: #EEEEEE;
  padding: 2px 6px 2px 6px;
  border:none;
  box-shadow: none;
}

.button-show {
  border-radius: 5px;
  text-decoration: none;
  background-color: #308d2c;
  color: #EEEEEE;
  padding: 2px 6px 2px 6px;
  border:none;
  box-shadow: none;
}

.button {
  border-radius: 5px;
  text-decoration: none;
  background-color: #E79535;
  color: #EEEEEE;
  padding: 2px 6px 2px 6px;
  border:none;
  box-shadow: none;
}

.button-hover:hover{
  color: #EEEEEE !important;
  text-decoration: none !important;
}

.card-body
{
	overflow-y: scroll;
}

.card-header
{

	height: 60px;
	overflow-y: scroll;

	.search
	{
		min-width: 700px;
	}
}