@font-face {
    font-family: 'ConsolasRegular';
    src: url('/fonts/Consolas Regular.ttf');
}

#main {
    position: relative;
}

#body {
    padding: 40px 10px 300px 10px;
}

.navbg {
    background-color: #E79535;
}

.navbar-header {
    margin-top: 11px;
}

.nav-link:hover {
    color: white !important;
}

.nav-item {
    font-size: 18px;
    font-family: ConsolasRegular;
}

.logo {
    padding-right: 53px;
}

.logo-text {
    margin-top: 15px;
    margin-left: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #E79535;
}

.center-block {
    display: table;
    margin: 0 auto;
}

.nav-link-footer {
    height: 35px;
}

.nav-link-footer a {
    color: hsla(0, 0%, 100%, .5);
}

.nav-link-footer a:hover {
    color: white;
    text-decoration: none;
}

#category_box {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
    background-color: lightgray;
}

#category_box .category {
    width: 183px;
    background-color: white;
    flex-grow: 1;
}
#category_box label{
    width: 183px;
    background-color: white;
    flex-grow: 1;
    margin: 0;
}

#category_box .category img {
    height: 75px;
    display: block;
    margin: 20px auto 0;
}

#category_box .category:hover {
    background-color: lightgray;
}

#category_box .category img.selected {
    opacity: 0;
    display: none;
}

#category_box ~ label{
    height: 100%;
}

.Button{
    margin:0;
}
[type=radio] { 
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  input[type=radio] + .category {
    cursor: pointer;
  }

  input[type=radio]:checked + .category {
    background-color: #44CC14 !important;
  }
  
  input[type=radio]:checked + .category img.selected {
    opacity: 1 !important;
    display: block !important;
  }

  input[type=radio]:checked + .category img.default {
    opacity: 0 !important;
    display: none !important;
  }

#category_box .category span {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 2px;
}

@media screen and (max-width: 575px) {
    .col-sm>.list-unstyled {
        text-align: center !important
    }
}